<div class="login-register">
  <div class="login-register-box">
    <mat-card class="mat-mdc-card mdc-card">
      <div class="flex-container">
        <div class="logo-container">
          <img src="./assets/img/logo.png" alt="Trancasa">
        </div>
        <div class="stepper-container">
          <mat-card-title class="text-center">Restablecer Sesión</mat-card-title>
          <!-- Stepper content -->
          <mat-card-content>

              <mat-stepper orientation="vertical" linear #stepper>
                <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>
                      <label class="stepper-label">Username</label>
                    </ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Nombre de usuario</mat-label>
                      <input matInput type="text" formControlName="firstCtrl" placeholder="Username" required>
                    </mat-form-field>
                    <div>
                      <button mat-flat-button class="button-stepper" (click)="validateEmail(stepper)">Verificar</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>
                      <label class="stepper-label">Código</label>
                    </ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Código de verificación</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ingrese el código recibido" required>
                    </mat-form-field>
                    <div>
                      <button mat-button class="button-stepper" (click)="validateCode(stepper)">Verificar</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
                  <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>
                      <label class="stepper-label">Contraseña</label>
                    </ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Contraseña</mat-label>
                      <input matInput type="password" formControlName="thirdCtrl" placeholder="Contraseña" required>
                    </mat-form-field>
                    <div>
                      <button mat-button class="button-stepper text-center" (click)="changePassword(stepper)">Guardar</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>
                    <label class="stepper-label">Finalizado</label>
                  </ng-template>
                  <p>
                    <mat-icon  class="check-color"
                      fontIcon="check"></mat-icon>
                      Será redirigido automaticamente, en caso contrario, de clic en el siguiente botón
                  </p>
                  <div>
                    <button mat-button class="button-stepper" routerLink="/login">Ir al inicio de sesión</button>
                  </div>
                </mat-step>
              </mat-stepper>
              <div class="text-center">
                <button type="button" mat-raised-button class="ancho" color="primary" routerLink="/login">Cancelar</button>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div *ngIf="invalidPassword" class="text-center" style="color:red;">{{invalidPasswordMsg}}</div>
                </div>
              </div>
          </mat-card-content>
        </div>
      </div>
      <!-- Remaining content -->
    </mat-card>
  </div>
</div>
