.mat-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #ee1a1a;
}

.mtp {
  margin-top: .5em;
  vertical-align: middle;

}


// .login-register {
//   background: linear-gradient(to bottom right, #ff0000, #000000); /* Example gradient colors */

//   height: 100vh;
//   display: flex;
//   background-attachment: fixed;
//   background-position: center center;
//   background-size: cover;
//   align-items: center;
// }

// .login-register-box {
//   max-width: 600px;
//   min-width: 280px;
//   margin: 0 auto;
//   vertical-align: middle;
// }

.login-register {
  background: linear-gradient(to bottom right, #ff0000, #000000);
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-register-box {
  max-width: 700px; // Adjust the maximum width as needed
  margin: 0 auto;
}

.mat-mdc-card {
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1; // Take up remaining space
  text-align: center;
}

.logo-container img {
  max-width: 100%; // Ensure the logo fits within the container
}

.stepper-container {
  flex: 1; // Take up remaining space
  padding-left: 20px; // Add spacing between logo and stepper
  max-width: min-content;
}

a {
  text-decoration: none;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


.stepper-label {
  font-size: 13px;
}

.button-stepper{
  background-color: #ee1a1a;
  color: white !important;
  display: inline-block;
}

.check-color{
  background-color: green;
  color: white;
  border-radius: 50%;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Align buttons evenly */
}

.ancho {
  width: calc(40% - 5px); /* Set width for the first button */
}

.btn {
  width: calc(40% - 5px); /* Set width for the second button */
}

.btn-right {
  margin-left: 10px; /* Add margin between buttons */
}

.mat-mdc-card-title{
  padding: 3px;
  font-size: medium;
}

.mdc-card {
  flex-direction: row;
}

@media (max-width: 650px) {

  .login-register-box {
    max-width: 650px; // Adjust the maximum width as needed
    margin: 1 auto;
  }
}

@media (max-width: 520px) {

  .stepper-label{
    font-size: x-small;
    font-weight: bold;
  }

  .stepper-container {
    max-width: 300px; // Adjust the maximum width as needed

  }


  .login-register-box {
    max-width: 300px; // Adjust the maximum width as needed
    margin: 0 auto;
  }

  .mat-mdc-form-field{
    font-size: smaller;
    width: 100%;
  }

  .mdc-floating-label{
    font-size: small;
  }

}

